services:
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    env_file:
      - .env
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /frontend
          ignore: 
           - node_modules/
        - action: rebuild
          path: ./frontend/package.json
    entrypoint: ["bun", "run", "dev", "--host"]